li .glyphicon {
  margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #3bc9ef;
  color: white;
}

.dropdown-container {
  display: block;
  background-color: #262626;
  padding-left: 8px;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
  background-color: #0b2c36;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar-toggle {
  color: #000;
}

/* Divider */
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #656565;
}

.floatRight{
  float: right;
}



@media (min-width: 768px) {
  /* On small screens, convert the nav menu to a vertical sidebar */
  .main-nav {
    background-color: #0b2c36;
    height: 100%;
    width: calc(17%);
  }

  .navbar {
    background-color: #0b2c36;
    border-radius: 0px;
    border-width: 0px;
    height: 100%;
  }

  .navbar-header {
    float: none;
  }

  .navbar-collapse {
    border-top: 1px solid #666;
    padding: 0px;
  }

  .navbar ul {
    float: none;
  }

  .navbar li {
    float: none;
    font-size: 15px;
    margin: 6px;
  }

    .navbar li a {
      padding: 10px 16px;
      border-radius: 4px;
    }

  .navbar a {
    color: #fcfcfc;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .navbar a:hover {
    color: #fcfcfc;
    background-color: #13637a;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
