<div *ngIf="loggedIn">
  <div class='main-nav'>
    <div class='navbar'>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' [routerLink]='["/"]'>Dashboard</a>
      </div>
      <div class='clearfix'></div>
      <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
        <ul class='nav navbar-nav'>
          <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/project_create"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-plus-sign'></span> Nový projekt
            </a>
          </li>
          <div class='divider'></div>
          <li>
            <a (click)='getProjects();'>
              <span class='glyphicon glyphicon-th-list dropdown-btn'></span> Projekty
            </a>
          </li>
          <!-- Projekty -->
          <li *ngFor="let tmp of projectList" [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/project", tmp.id]' (click)='collapse()'>
              <span class='  '></span> {{tmp.name}} 
              <!-- <a [routerLink]='["/project_create"]'><i class="far fa-edit floatRight"></i></a> -->
            </a>
          </li>
          <li *ngFor="let tmp of sharedProjectList" [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/project", tmp.id]' (click)='collapse()'>
              <span class=''></span> {{tmp.name}}
              <!-- <a [routerLink]='["/project_create"]'><i class="far fa-edit floatRight"></i></a> -->
            </a>
          </li>
          <div class='divider'></div>
          <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/fetch"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-th-list'></span> Uživatelé
            </a>
          </li>
          <li>
            <a [routerLink]='["/login"]' (click)='logOut(); collapse()'>
              <span class='glyphicon glyphicon-minus-sign'></span> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
