.form {
  position: relative;
  max-width: 400px;
  margin: auto;
  left: -9vw;
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20vh;
  text-align: center;
  background: #fff;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .form {
    left: 0vw;
  }
}

.warning {
  color: tomato;
  font-size: 12px;
}

.error {
  text-align: left;
  color: tomato;
  font-size: 12px;
  padding-top: 4px;
  margin-bottom: -10px;
}
