<form [formGroup]="userForm" (ngSubmit)="login()" #formDir="ngForm">
  <div class="form">
    <div class="row">
      <h2>Login</h2>
      <div class="twelve columns">
        <label for="Login">Your username/login</label>
        <input class="u-full-width form-control" type="text" placeholder="username" formControlName="Login">
        <div class="error" *ngIf="!userForm.controls['Login'].valid && userForm.controls['Login'].touched">This field is required!</div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="twelve columns">
        <label for="Password">Your password</label>
        <input class="u-full-width form-control" type="password" placeholder="••••••••" formControlName="Password">
        <div class="error" *ngIf="!userForm.controls['Password'].valid && userForm.controls['Password'].touched">This field is required!</div>
      </div>
    </div>
    <h5 class="warning">{{unvalidFormWarning}}</h5>
    <button type="submit" class="button-primary twelve columns" [disabled]="!userForm.valid">Login</button>
  </div>
</form>
