.header {
  height: 7vh;
  border: 1px solid #d1d1d1;
  padding: 0px;
  border-radius: 3px;
  overflow:hidden;
}

.cell {
  margin-top: 0.1vh;
  height: 87vh;
  display: block;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  overflow: hidden;
}

.floatRight{
  float: right;
  right: 0px;
  margin-top: 1.5vh;
}

.sidebar {
  height: 100%;
}

button {
  margin: 5px;
}

textarea {
  resize: none; 
}


.task-create{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.newTask {
  margin-top: 5px;
  float: right;
}

.formular {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 20vh;
}

/* comment */
.commentDate{
  text-align: right;
}


/* box */
.box{
  width: 100%;
  height: 25vh;
  border-radius: 5px;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px;
  overflow: auto;
}

.box-name{
  width: 100%;
  height: 15%;
  text-align: center;
  border-radius: 5px;
  background-color: #d1d1d1;
}

.box-content{
  font-size: 12px;
  width: 95%;
  height: 74%;
  margin: 10px;
  margin-right: 20px;
}

.bottomMargin2{
  margin-top: 2em;
}