<div class="container-fluid">
  <div class="task-create" *ngIf="isVisible">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form [formGroup]="taskForm" #formDir="ngForm">
          <div class="formular">
            <label for="Name">Title</label>
            <input class="form-control form-cell" type="text" placeholder="title" formControlName="Name">
            <label for="Name">Description</label>
            <textarea rows="10" class="form-control form-cell" placeholder="description" formControlName="Description"></textarea>
            <br />
            <div class="center">
                <button type="submit" class="button-primary form-cell" (click)="showTaskForm()">Cancel</button>
                <button type="submit" class="button-primary form-cell" (click)="createTask()" *ngIf="!isEditing">Create task</button>
                <button type="submit" class="button-primary form-cell" [disabled]="!taskForm.valid" (click)="editTask()" *ngIf="isEditing">Edit task</button>
            </div>
            <br />
          </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
      
  </div>



  <div class="row">
    <div class="col-sm-12 header">
      <div class="col-sm-10">
        <h4>Úkoly</h4>
        <p>{{tmpProject.id}}, {{tmpProject.name}}</p>
      </div>
      <div class="col-sm-2">
        <button type="button" class="floatRight" (click)="showTaskForm()"><i class="fas fa-plus"></i></button>
        <!--<button type="button" class="button" (click)="deleteProject(tmpProject.id)" *ngIf="isOwner">Smazat projekt</button>-->
        <!--<button type="button" class="u-full-width" (click)="fc()" *ngIf="isOwner">Edit project</button>--> 
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-3 cell">
      <app-sidebar></app-sidebar>
    </div>
    <div *ngIf="tmpTask">
      <div class="col-md-9 cell">
        <div class="row">
          <div class="col-md-5">
              <h2 *ngIf="tmpTask">{{tmpTask.name}}</h2>
            </div>
          <div class="col-md-7">
              <button type="button" class="floatRight button" (click)="deleteTask()">Smazat</button>
              <button type="button" class="floatRight button" (click)="archiveTask()">Archivovat</button>
              <button type="button" class="floatRight button" (click)="showEditTaskForm()">Upravit</button>
              <select (change)="onChangeTask($event.target.value)" class="floatRight button"[(ngModel)]="ahoj">
                  <option>Nezapočatý</option>
                  <option>Započatý</option>
                  <option>Ukončený</option>
              </select>
            </div>
        </div>
        <!-- horni řada boxu -->
        <div class="row bottomMargin2">
          <div class="col-md-6">
            <div class="box">
              <div class="box-name">
                  <p>Popis</p>
              </div>
              <div class="box-content">
                  <p *ngIf="tmpTask">{{tmpTask.description}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box">
                <div class="box-name">
                    <p>Komentáře</p>
                </div>
                <div class="box-content">
                  <table *ngFor="let tmp of tmpCommentsList">
                    <tr>
                      <td>
                        <p class="commentContent">{{ tmp.content }} - ({{ tmp.timeChanged | date:'MMM-dd-yyyy'}})</p>
                      </td>
                    </tr>
                  </table>
                  <form [formGroup]="commentForm" #formDir="ngForm">
                      <input type="text" placeholder="Komentář" formControlName="Content">
                      <button type="button" class="button" (click)="addComment()">Přidat komentář</button>
                  </form>
                  <!-- <p *ngIf="tmpTask">{{tmpComments.Content}}</p> -->
                </div>
            </div>
          </div>
        </div>
        <!-- prostřední řada boxu -->
        <div class="row bottomMargin2">
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
