<form [formGroup]="userForm" (ngSubmit)="editUser()" #formDir="ngForm">
  <div class="form">
    <div class="row">
      <h2>Edit an user</h2>
      <div class="twelve columns">
        <label for="first_name">First name</label>
        <input class="u-full-width form-control" type="text" formControlName="first_name">
        <div class="error" *ngIf="!userForm.controls['first_name'].valid && userForm.controls['first_name'].touched">This field is required!</div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="twelve columns">
        <label for="last_name">Last name</label>
        <input class="u-full-width form-control" type="text" placeholder="last name" formControlName="last_name" reguired>
        <div class="error" *ngIf="!userForm.controls['last_name'].valid && userForm.controls['last_name'].touched">This field is required!</div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="twelve columns">
        <label for="login">Username/login</label>
        <input class="u-full-width form-control" type="text" placeholder="username" formControlName="login">
        <div class="error" *ngIf="!userForm.controls['login'].valid && userForm.controls['login'].touched">Username/login must be 4 or more characters long!</div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="twelve columns">
        <label for="password">Password</label>
        <input class="u-full-width form-control" type="password" placeholder="••••••••" formControlName="password">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="twelve columns">
        <label for="email">Email</label>
        <input class="u-full-width form-control" type="email" placeholder="email@example.com" formControlName="email">
        <div class="error" *ngIf="!userForm.controls['email'].valid && userForm.controls['email'].touched">Invalid email!</div>
      </div>
    </div>
    <br />
    <!--<h5 class="warning">{{unvalidFormWarning}}</h5>-->
    <button type="submit" class="button-primary twelve columns margin" >Edit user {{tmpLogin}}</button>
    <div class="errorCenter" *ngIf="invalidForm">One or more fields are invalid!</div>
    <div class="errorCenter" *ngIf="editingForm">Editing, please wait.</div>
    <br />
    <h6><a [routerLink]="['/fetch']" class="link">Cancel</a></h6>
  </div>
</form>
