.newTask {
  margin-top: 5px;
  float: right;
}

.formular {
  width: 50%;
  height: 100%;
  text-align: center;
}

.form-cell {
  width: 80%;
  margin: 0 auto;
}

.listview li {
  margin-bottom: 2px;
  list-style-type: none;
}

.btn{
  margin: 0 auto;
  height: 80%;
  overflow: hidden;
  text-align: left;
  border-radius: 0%;
}

.btn p {
  color: #acacac;
}

.btn:hover{
  background-color: #fcfcfc;
}

.btn:active{
  background-color: #f7f7f7;
}

.force-to-bottom{
  position: absolute;
  bottom: 0;
}

