<div class="row">
    <div class="listview">
        <ul>
          <li *ngFor="let tmp of taskList" class="listItem">
            <button type="button" class="col-sm-12 btn" [routerLink]='["/project", tmpProjectId, tmp.id]' >
                <h4>{{tmp.name}}</h4>
                <p>{{tmp.description}}</p>
            </button>
          </li>
          <li *ngFor="let tmp of archivedTaskList" class="listItem">
            <button type="button" class="col-sm-12 btn" [routerLink]='["/project", tmpProjectId, tmp.id]' >
                <h4>{{tmp.name}}</h4>
                <p>{{tmp.description}}</p>
            </button>
          </li>
        </ul>
      </div>
</div>
<div class="row force-to-bottom text-center">
  <div class="col-md-12">
    <input type="checkbox" name="archive" value="archive"(change)="checkValue($event)"> Zahrnout archiv<br>
  </div>
</div>
