<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-2'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-10 body-content'>
      <!-- <app-nav-bar></app-nav-bar> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
