<form [formGroup]="userForm" (ngSubmit)="register()" #formDir="ngForm">
  <div class="form">
    <div class="row">
      <h2>Přidání nového uživatele</h2>
      <div class="twelve columns">
        <label for="first_name">Křestní jméno</label>
        <input class="u-full-width form-control" type="text" placeholder="first name" formControlName="first_name">
        <div class="error" *ngIf="!userForm.controls['first_name'].valid && userForm.controls['first_name'].touched">This field is required!</div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="twelve columns">
        <label for="last_name">Příjmení</label>
        <input class="u-full-width form-control" type="text" placeholder="last name" formControlName="last_name">
        <div class="error" *ngIf="!userForm.controls['last_name'].valid && userForm.controls['last_name'].touched">This field is required!</div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="twelve columns">
        <label for="login">Username/login</label>
        <input class="u-full-width form-control" type="text" placeholder="username" formControlName="login">
        <div class="error" *ngIf="!userForm.controls['login'].valid && userForm.controls['login'].touched">Username/login must be 4 or more characters long!</div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="twelve columns">
        <label for="password">Heslo</label>
        <input class="u-full-width form-control" type="password" placeholder="••••••••" formControlName="password">
        <div class="error" *ngIf="!userForm.controls['password'].valid && userForm.controls['password'].touched">Password must be 6 or more characters long!</div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="twelve columns">
        <label for="email">Email</label>
        <input class="u-full-width form-control" type="email" placeholder="email@example.com" formControlName="email">
        <div class="error" *ngIf="!userForm.controls['email'].valid && userForm.controls['email'].touched">Invalid email!</div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="twelve columns btn-group" data-toggle="buttons">
        <label>
          <input type="radio" id="r1" value="1" formControlName="role"/> Admin
        </label> 
        <label>
            <input type="radio" id="r2" value="2" formControlName="role"/> Uživatel
        </label> 
        <label>
            <input type="radio" id="r3" value="3" formControlName="role"/> Read-only uživatel
        </label> 
      </div>
    </div>
    <br />
    <!--<h5 class="warning">{{unvalidFormWarning}}</h5>-->
    <button type="submit" class="button-primary twelve columns margin" >Register</button>
    <div class="errorCenter" *ngIf="invalidForm">One or more fields are invalid!</div>
    <div class="errorCenter" *ngIf="registeringForm">Registering, please wait.</div>
  </div>
</form>
