.form {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5vh;
  text-align: center;
  background: #fff;
  border-radius: 8px;
}

@media only screen and (max-width: 600px) {
  .form {
    top: -5vw;
  }
}


.error {
  text-align: left;
  color: tomato;
  font-size: 12px;
  padding-top: 4px;
  margin-bottom: -10px;
}

.errorCenter {
  text-align: center;
  color: tomato;
  font-size: 12px;
  padding-top: 4px;
  margin-bottom: -10px;
}

.leftText {
  text-align: left;
}

.margin {
  margin-bottom: 20px;
}
