<form [formGroup]="projectForm" (ngSubmit)="saveProject()" #formDir="ngForm">
  <div class="container">
    <br><br><br>
    <h3>Create project</h3>
    <div class="row">
      <div class="col-sm-7">
        <label for="Name">Name of project</label>
        <input class="form-control" type="text" placeholder="project name" formControlName="Name">
        <!--<div class="error" *ngIf="!projectForm.controls['Name'].valid && projectForm.controls['Name'].touched">This field is required!</div>-->
      </div>
      <div class="col-sm-1">
        <!--alt255-->
        <label for=""> </label>
        <button type="submit" class="button-primary">Save</button>
      </div>
    </div>
    <div class="row lefts">
      <br><br>
      <div class="userList col-sm-4">
        <button type="button" *ngFor="let item of userList" (click)="moveUser(item.id, 'from')" class="userBtn col-sm-12">{{item.first_name}} {{item.last_name}}</button>
      </div>
      <div class="userList col-sm-4">
        <button type="button" *ngFor="let item of tmpUserList" (click)="moveUser(item.id, 'to')" class="userBtn col-sm-12">{{item.first_name}} {{item.last_name}}</button>
      </div>
    </div>
  </div>
</form>

