.error {
  text-align: left;
  color: tomato;
  font-size: 12px;
  padding-top: 4px;
  margin-bottom: -10px;
}

.userList {
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  height: 400px;
  overflow-y:scroll;
}

.userBtn {
}

.lefts{
  margin-left: 0px;
}
