<h2>Seznam uživatelů</h2>
<p *ngIf="!userList"><em>Loading...</em></p>
  <h4><a [routerLink]="['/register']">Přidat nového uživatele</a></h4>
<table class='table' *ngIf="userList">
  <thead>
    <tr>
      <th>Id</th>
      <th>Login</th>
      <th>Křestní jméno</th>
      <th>Příjmení</th>
      <th>Email</th>
      <th>Role</th>
      <th colspan="2">Akce</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tmp of userList">
      <td>{{ tmp.id }}</td>
      <td>{{ tmp.login }}</td>
      <td>{{ tmp.first_name }}</td>
      <td>{{ tmp.last_name }}</td>
      <td>{{ tmp.email }}</td>
      <td>{{ tmp.role }}</td>
      <td>
        <a [routerLink]="['/edit_user', tmp.login]">Editovat</a>
      </td>
      <td>
        <a [routerLink]="" (click)="deleteUser(tmp.login, tmp.role)">Smazat</a>
      </td>
    </tr>
  </tbody>
</table>
